.navbar {
    font-family: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
}


  html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  *::selection {
    background-color: rgb(68, 73, 65, 0.5);
    color: white;
  }
  
  button,
  button:active,
  button:focus {
    outline: none !important;
  }
